<nav class="nav has-shadow">
  <div class="nav-left">
    <a routerLink="/" class="nav-item">
      Some Title
    </a>
  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="nav-right nav-menu">
    <div class="nav-item">
      <div class="field is-grouped">
        <p class="control">
          <button class="button is-primary">
            <span>About</span>
          </button>
        </p>
      </div>
    </div>
  </div>
</nav>
