<section class="hero is-light">
  <div class="hero-body">
    <div class="container">

      <div class="field has-addons">
        <p class="control is-expanded">
          <input class="input is-medium" type="text" placeholder="Question" [(ngModel)]="message">
        </p>
        <p class="control">
          <button class="button is-medium" (click)="sendMessage()">
            <span class="icon ">
              <i class="fa fa-paper-plane-o"></i>
            </span>
          </button>
        </p>
      </div>

    </div>
  </div>
</section>

