<section class="setup">
  <div class="container">

    <form novalidate [formGroup]="session">
      <div class="field setup__name">
        <p class="control has-icons-left">
          <input class="input" type="text" placeholder="Enter your name" formControlName="name">
          <span class="icon is-small is-left">
            <i class="fa fa-user"></i>
          </span>
        </p>
        <p class="help is-danger" *ngIf="session.get('name').touched && session.get('name').hasError('required')">The name is required</p>
        <p class="help is-danger" *ngIf="session.get('name').touched && session.get('name').hasError('minLength')">The minimum length is 2 characters</p>
      </div>

      <div class="setup__form columns">

        <div class="column is-one-third is-offset-2 has-text-centered has-border-right">
          <h3 class="subtitle">Create a new Session</h3>

          <h1 class="title setup__id">{{newSessionId}}</h1>

          <button (click)="onCreateNewSession()" class="button is-primary">
            <span>Start New Session</span>
          </button>
        </div>

        <div class="column is-one-third has-text-centered">
          <h3 class="subtitle">Join existing Session</h3>

          <div class="field setup__input-id">
            <p class="control ">
              <input class="input" type="text" placeholder="Session ID" formControlName="sessionId">
            </p>
            <p class="help is-danger" *ngIf="session.get('name').touched && session.get('sessionId').hasError('required')">The Session ID is required</p>
          </div>

          <button (click)="onJoinSession(session)" class="button is-primary">
            <span>Join a Session</span>
          </button>
        </div>
      </div>
    </form>

  </div>
</section>
